.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table td.paid-status {
  /* background-color: green;
  color: white;
  padding: 0.375rem 0.75rem;
  border-radius: 30%; */
  text-align: center;
  vertical-align: middle;
  border: 0.375rem solid #28a745;
}

.admin-navbar {
  width: 12.5%; /* 1/8th of the screen width */
  height: 100vh; /* 100% of the viewport height */
  background-color: #333;
  color: #fff;
  padding: 1.5rem;
  position: fixed; /* Fixed position to stay on the left side */
  top: 0; /* Position from the top */
  left: 0; /* Position from the left */
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

.admin-navbar ul {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

.admin-navbar li {
  margin-bottom: 1rem;
}

.admin-navbar a {
  text-decoration: none;
  color: #fff;
}

.admin-navbar a:hover {
  text-decoration: underline;
}

.main-navbar{
  position: fixed;
}
.text-testing{
  padding-left: 15%
}

.sidebargang{
  min-height: 100vh;
}

.navbar-bg-gradient{
  /* background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
  /* background: rgb(0,109,175);
background: linear-gradient(90deg, rgba(0,109,175,1) 0%, rgba(6,163,238,1) 35%, rgba(0,212,255,1) 100%); */
/* background-image: url("../public/images/assorted-pack-cropped.jpeg");
background-size:     cover;                      /* <------ */
    /* background-repeat:   no-repeat;
    background-position: center center; */
    background-image: linear-gradient(to right bottom, #ffd7a2, #d7d79c, #add5a4, #88cfb5, #6fc5c6, #76c6c9, #7dc8cc, #84c9cf, #9fd7cc, #c0e4cc, #e0f0d2, #fffbdf);
}

.fluffy{
  color: #F8A2CC;
}

.brand {
  font-family: 'Hachi Maru Pop', cursive;
}

.container1{
  padding-left: 5rem;
}